<h2>{{artist.name}} <a href="/artists/{{artist.id}}/edit">(edit)</a></h2>
<h4>{{artist.nationality}}</h4>

<img class='artist-photo' src="{{artist.photoUrl}}">

<h3>Works</h3>
<ul>
  {{#each works}}
    <!-- build the list element for each work -->
    <li>
      <a href="/works/{{id}}">
        {{title}} {{!-- ({{album}}) --}}
      </a>
    </li>

  {{/each}}
</ul>
